.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
  align-items: center;
  margin-block: 10rem;
}

.yellowGlow {
  position: absolute;
  width: 970px;
  height: 970px;
  left: 467px;

  background: #323908;
  opacity: 0.8;
  filter: blur(350px);
  transform: rotate(-90deg);
}

.leftSection {
  position: relative;
  max-width: 655px;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  z-index: 1;
}

h2 {
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 1.1;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.tabbedSection {
  padding-block-end: 1.6rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.tab {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.2;
  text-align: start;
  cursor: pointer;
}

.tab.current {
  color: #d7ff00;
}

.underglow {
  position: absolute;
  height: 2px;
  width: 200px;
  left: 0;
  bottom: 0;
  background: #d7ff00;
  box-shadow: 0 0 9px 5px #d7ff00;
  transition: all 0.3s ease-in-out;
}

.videoSection {
  position: relative;
  box-shadow: 56.6115px 91.9937px 155.33px rgba(0, 0, 0, 0.34),
    36.6926px 59.6255px 90.969px rgba(0, 0, 0, 0.258148),
    21.8059px 35.4346px 49.4756px rgba(0, 0, 0, 0.206519),
    11.3223px 18.3987px 25.2412px rgba(0, 0, 0, 0.17),
    4.61279px 7.49578px 12.6566px rgba(0, 0, 0, 0.133481),
    1.04836px 1.70359px 6.11254px rgba(0, 0, 0, 0.0818519);
}

.outline {
  position: absolute;
  left: -31px;
  top: -33px;
}
