.container {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  z-index: 11;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  overflow: hidden;
}

.getInTouch > button {
  font-weight: 600;
  font-size: 14px;
  width: 100%;
}

.getInTouch {
  padding: 16px 0;
  background: var(--violet);
  border-radius: 40px;
  width: 100%;
  position: relative;
  top: 16px;
}

.wrapper {
  padding: 0 20px;
  position: relative;
  top: 370px;
}

.heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 16px;
}

.sub {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 24px;
}

.cross {
  position: absolute;
  top: 60px;
  right: 20px;
  cursor: pointer;
  z-index: 11;
}

.flair {
  position: absolute;
  top: 100px;
  left: -5px;
}
